%h3.page-header.text-center
  We purchase items such as:
  %br
  %small 
  
  
.col-lg-6.col-xs-12  
  %ul 
    %li Modern Decor and Furniture
    %li Fine Jewelry (Gold, Precious and Semiprecious)
    %li Oil Paintings, Lithographs, Prints, Fine and Vernacular Photography
    %li Lamps, Chandeliers, Sconces and Lighting
    %li Rugs and Carpets
    %li Ceramics, Porcelains, Pottery
    %li Bric-a-brac
    %li Antique Dinnerware Sets
    %li Military Items (Swords,Knives,Helmets,Bayonets,Uniforms,Badges)
    %li Musical Instruments
    %li Vintage Cameras
    %li Coins and Medals
.col-lg-6.col-xs-12  
  %ul
    %li Sterling Silver Flatware and Hollowware
    %li Costume and Silver Jewelry
    %li Sculptures- Bronze, Marble, Alabaster, etc.
    %li Watches and Clocks
    %li Furniture
    %li Asian Decorative Arts (Chinese,Japanese,Korean)
    %li Crystal and Art Glass
    %li Designer Fashion, Furs (Louis Vuitton, Gucci, Hermes, Chanel Clothing and Accessories)
    %li Old and Vintage Toys
    %li Sports Memorabilia and Collectibles
    %li Comic Books
    %li Stamp Collections
  
%p.row
  .instructions.text-center 
    Estimates based on oral description or pictures are not accurate. Final price can be different.
  %hr
    %img.img-responsive{:alt => "", :src => "/ph.jpg"}
  
%hr